<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YouTube Wrapped</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
    

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</head>
<body>
    <div class="header-wrapper">
        <i class="fab fa-youtube youtube-icon"></i>
        <span class="title">Wrapped</span>

    </div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - YouTube Wrapped - Developed with &#10084;&#65039; by Kyle Brooks
            </div>
        </footer>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
