@{
    ViewData["Title"] = "Home Page";
}

<div class="home-body-wrapper">
    <div class="slick-wrapper">
        <div class="slick">
            <div class="carousel_slide">
                <img src="https://s2.r29static.com/bin/entry/059/x,80/2246859/image.jpg" alt="">
            </div>
            <div class="carousel_slide">
                <img src="https://www.rollingstone.com/wp-content/uploads/2018/06/shawn-mendes-qa-13151316-0ef93af2-a8a4-4057-b8dc-bcfdc71abd9d.jpg?resize=1800,1200&w=1800" alt="">
            </div>
            <div class="carousel_slide">
                <img src="https://assets.teenvogue.com/photos/5f58d4e14111b77a6cb7f808/4:3/w_3015,h_2261,c_limit/GettyImages-1228408822.jpg" alt="">
            </div>
        </div>
        <div class="next-button-container">
            <button class="carousel-next">Next</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.slick').slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            arrows: true,
            nextArrow: $('.carousel-next'),
            prevArrow: $(''),
        });
    });
</script>