@{
    ViewData["Title"] = "Home Page";
}

<div class="home-body-wrapper">
    <div class="slick-wrapper">
        <div class="slick">
            @*<div class="carousel_slide">
                    <img src="https://s2.r29static.com/bin/entry/059/x,80/2246859/image.jpg" alt="">
                </div>*@
            <div class="carousel_slide">
                <div class="home-greeting-heading">
                    <i class="fab fa-youtube youtube-icon"></i>
                    <span>YouTube Wrapped</span>
                </div>
                <div class="home-greeting-body">
                    <p>Get a detailed interactive breakdown of your recent YouTube viewing habits!</p>
                    <p>Please note that in order to do this, we need your Google Takeout file containing your YouTube data. All data used by
                    this app is recorded to be used again. However, please note that this stored data does not have any links to you or your personal information
                    and is used only to make the processing of future data faster. No further data is obtained about you than the data in your Takeout file
                    which is human-readable, so it is recommended that you read through this data before submitting it on this site.</p>
                    <p>If you have read through all of this and are happy to continue, let's go!</p>
                </div>
                
                <div class="greeting-proceed-wrapper">
                    <span class="proceed-text">Proceed</span>
                    <span class="proceed-arrow"></span>
                </div>
            </div>
            <div class="carousel_slide">
                
            </div>
        </div>
        @*<div class="next-button-container">
            <button class="carousel-next">Next</button>
        </div>*@
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.slick').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 1,
            arrows: true,
            nextArrow: $('.proceed-text'),
            prevArrow: $(''),
            vertical: true
        });
    });
</script>